# Игнорировать данные и модели
data/
*.parquet
*.csv
*.pkl
*.joblib
model.pkl

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорировать виртуальное окружение (если оно в этой папке)
venv/
env/

# Игнорировать локальные настройки
.env
*.log